.hidden-post{
    position: absolute;
    border: 2px solid #002D5B;
    z-index: 99999;
    box-shadow: 4px 14px 12px -1px rgba(0,0,0,0.2);
    right: -415px;
    top: -155px;
    background: #fff;
    width: 409px;
    padding: 20px;
}

.label-button{
    position:relative;
}

.not-read{
    position: absolute;
    right: 0;
    width: 20px;
    top:0;
}

.tail-datetime-calendar .calendar-date table tbody tr > *{
    width:249px;
}