#avatar-upload{
    height: 178px;
    width: 261px;
    text-align: center;
    border: 3px dashed #EF463B;
}

#add-new-form{
    height: 100vh;
    width: 100vw;
    position: fixed;
    background: rgba(0,0,0,0.8);
    z-index: 999999;
    top: 0;
    display: flex;
    flex-direction: column;
    left:0;
    align-items: center;
    justify-content: center;
}

#x-add-new{
  position: fixed;
  top: 10%;
  background: #fff;
  border-radius:50%;
  font-weight:bold;
  z-index: 9999999999;
  color:#ee463a;
  right: 10%;
  border: none;
  width: 40px;
  height:40px;
  font-size: 22px;
}

.user-background{
    height:178px;
    width:100%;
    object-fit: cover;
}

.client-wrapper{
    height:178px;
    width:24%;
    position:relative;
}

.delete-button{
    position:absolute;
    top:40px;
    background:transparent;
    border:none;
}

.delete-button button{
    width: 40px;
    height: 40px;
}

.client-wrapper a{
    text-decoration:none;
    color:#002D5B;
}

.dashed{
    border:3px dashed #002D5B;
    height:178px;
    width:24%;
}

.container{
    max-width:1140px;
}

#home-page .add-date-btn{
    margin-top:88px;
}

.empty-state .text-center{
    margin-top:14px;
}